button,
._btn {
	cursor: pointer;
}

.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	background-color: #383838;
}

.container {
	max-width: 1920px;
	height: 100vh;
	margin: 0 auto;
	position: relative;
	background-color: #181818;
}

._btn-text:hover {
	border-color: #d9b6ff;
	color: #d9b6ff;
	cursor: pointer;
}

._btn-icon:hover svg {
	fill: transparent;
	stroke: #acacac;
	cursor: pointer;
}

._btn-text:active {
	border-color: #ad61ff;
	color: #ad61ff;
	cursor: pointer;
}

._btn-icon:active svg {
	fill: transparent;
	stroke: #ffffff;
	cursor: pointer;
}

._btn-icon:active .track-play__like-svg,
._btn-icon:active .track-play__dislike-svg {
	fill: #696969;
	stroke: #ffffff;
	cursor: pointer;
}

.main {
	-webkit-box-flex: 1;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.main__sidebar {
	max-width: 418px;
	padding: 20px 90px 20px 78px;
}

.nav__logo {
	width: 113.33px;
	height: 43px;
	padding: 13px 0 13px 0;
	background-color: transparent;
	margin-bottom: 20px;
}

.filter__item-wrapper_big {
	overflow: scroll;
}

.filter__item-wrapper_small {
	overflow: hidden;
}

.sidebar__personal {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	justify-content: flex-end;
	padding: 12px 0 15px 0;
}

.sidebar__personal-name {
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	color: #ffffff;
	margin-right: 16px;
}

.sidebar__icon {
	width: 43px;
	height: 43px;
	background-color: #313131;
	border-radius: 50%;
	cursor: pointer;
}

.sidebar__block {
	height: 100%;
	padding: 240px 0 0 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
}

.sidebar__list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.sidebar__item {
	width: 250px;
	height: 150px;
}

.sidebar__item:not(:last-child) {
	margin-bottom: 30px;
}

.sidebar__link {
	width: 100%;
	height: 100%;
}

.sidebar__img {
	width: 100%;
	height: auto;
}

.bar__content {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
}

.track-play__contain {
	width: auto;
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: auto 1fr;
	grid-template-columns: auto 1fr;
	grid-template-areas: 'image author' 'image album';
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.track-play__image {
	width: 51px;
	height: 51px;
	background-color: #313131;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	margin-right: 12px;
	-ms-grid-row: 1;
	-ms-grid-row-span: 2;
	-ms-grid-column: 1;
	grid-area: image;
}

.track-play__svg {
	width: 18px;
	height: 17px;
	fill: transparent;
	stroke: #4e4e4e;
}

.track-play__author {
	-ms-grid-row: 1;
	-ms-grid-column: 2;
	grid-area: author;
	min-width: 49px;
}

.track-play__author-link {
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	color: #ffffff;
	white-space: nowrap;
}

.track-play__album {
	-ms-grid-row: 2;
	-ms-grid-column: 2;
	grid-area: album;
	min-width: 49px;
}

.track-play__album-link {
	font-style: normal;
	font-weight: 400;
	font-size: 13px;
	line-height: 24px;
	color: #ffffff;
}

.track-play__like-dis {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	margin-left: 26%;
}

.track-play__like,
.track-play__dislike {
	padding: 5px;
}

.track-play__like-svg {
	width: 14px;
	height: 12px;
	fill: transparent;
	stroke: #696969;
}

.track-play__dislike {
	margin-left: 28.5px;
}

.track-play__dislike-svg {
	width: 14.34px;
	height: 13px;
	fill: transparent;
	stroke: #696969;
}

.volume__content {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	justify-content: end;
}

.volume__image {
	width: 13px;
	height: 18px;
	margin-right: 17px;
}

.volume__svg {
	width: 13px;
	height: 18px;
	fill: transparent;
}

.volume__progress {
	width: 109px;
}

.volume__progress-line {
	width: 109px;
}
